<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Tarjouspyyntö</h2>
  <table>
    <tbody>
      <tr>
        <td><strong>Asiakas:</strong></td>
        <td>{{status}}</td>
      </tr>
      <tr>
        <td><strong>Nimi:</strong></td>
        <td>{{nimi}}</td>
      </tr>
      <tr>
        <td><strong>Yritys:</strong></td>
        <td>{{yritys}}</td>
      </tr>
      <tr>
        <td><strong>Puhelinnumero:</strong></td>
        <td>{{puhelin}}</td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td>{{email}}</td>
      </tr>
      <tr>
        <td><strong>Kohteen osoite:</strong></td>
        <td>{{osoite}}</td>
      </tr>
      <tr>
        <td><strong>Pinta-ala:</strong></td>
        <td>{{ala}} m<sup>2</sup></td>
      </tr>
      <tr>
        <td><strong>Laatan vahvuus:</strong></td>
        <td>{{vahvuus}} cm</td>
      </tr>
      <tr>
        <td><strong>Kohteen tyyppi:</strong></td>
        <td>{{kohde}}</td>
      </tr>
      <tr>
        <td><strong>Olosuhde:</strong></td>
        <td>{{olosuhde}}</td>
      </tr>
      <tr>
        <td><strong>Eriste:</strong></td>
        <td>{{eriste}}</td>
      </tr>
      <tr>
        <td><strong>Sirote:</strong></td>
        <td>{{sirote}}</td>
      </tr>
      <tr>
        <td><strong>Hionta:</strong></td>
        <td>{{hionta}}</td>
      </tr>
      <tr>
        <td><strong>Viesti:</strong></td>
        <td>{{viesti}}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>